*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Mulish", sans-serif; }

body {
  font-family: "Mulish", sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.7; }

a {
  text-decoration: none; }

.wrapper {
  max-width: 1230px;
  margin: auto;
  margin-bottom: 3px; }

.header {
  display: flex;
  justify-content: space-between;
  margin: 56px 0 0; }
  .header_nav-list {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #1f1534;
    opacity: 0.5; }
    .header_nav-list:hover {
      color: #458ff6;
      transition-duration: 0.5s; }

.brand {
  display: flex;
  align-items: center; }
  .brand-logo {
    padding: 5px 14px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    color: #ffffff;
    background-color: #458ff6;
    margin-right: 12px; }
  .brand-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #233348; }

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 50px;
  padding: 1em;
  margin: 56px 0 0; }

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0; }

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  align-items: center; }

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#menu-toggle {
  display: none; }

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: black;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px; }

.menu-button::before {
  content: "";
  margin-top: -8px; }

.menu-button::after {
  content: "";
  margin-top: 8px; }

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg); }

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0); }

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg); }

.homePage_main {
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .homePage_mainBox {
    max-width: 450px; }
    .homePage_mainBox-title {
      font-weight: 700;
      font-size: 48px;
      line-height: 56px;
      color: #000000;
      margin-bottom: 25px; }
    .homePage_mainBox-content {
      font-weight: 300;
      font-size: 20px;
      line-height: 32px;
      color: #7d7987;
      margin-bottom: 45px; }
    .homePage_mainBox-button {
      font-weight: 700;
      font-size: 18px;
      line-height: 60px;
      color: #ffffff;
      background: #458ff6;
      border-radius: 55px;
      border: 0;
      padding: 0 40px;
      cursor: pointer; }
      .homePage_mainBox-button:hover {
        background: #1472f4; }
      .homePage_mainBox-button:active {
        background-color: #458ff6; }
  .homePage_mainBottom {
    max-width: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 190px auto 0 auto;
    gap: 30px; }
    .homePage_mainBottom-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 56px;
      color: #000000; }
    .homePage_mainBottom-content {
      font-weight: 300;
      font-size: 18px;
      line-height: 30px;
      color: #7d7987;
      text-align: center; }

.line {
  width: 56px;
  height: 2px;
  background-color: #000000;
  border-radius: 5px; }

.line--white {
  background-color: #ffffff; }

.card {
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  padding: 45px 48px 45px 40px;
  z-index: 1;
  background-color: #ffffff; }
  .cardWrapper {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    grid-template-rows: 355px 355px 1fr;
    gap: 36px;
    justify-content: center;
    margin: 80px 0 0;
    position: relative; }
    .cardWrapper-backgroundImg {
      position: absolute;
      left: -220px;
      top: -45px; }
    .cardWrapper_button {
      display: block;
      margin: auto;
      text-align: center;
      margin: 36px auto 70px; }
  .card-img {
    height: 120px; }
  .card-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
    color: #000000; }
  .card-content {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7d7987; }

.button--blueBorder {
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: #458ff6;
  border: 1.4px solid #458ff6;
  border-radius: 55px;
  width: 200px;
  background-color: #ffffff;
  cursor: pointer;
  user-select: none; }
  .button--blueBorder:active {
    background-color: #458ff6;
    color: #ffffff;
    box-shadow: rgba(69, 143, 246, 0.4) 2px 2px, rgba(69, 143, 246, 0.3) 4px 4px, rgba(69, 143, 246, 0.2) 6px 6px, rgba(69, 143, 246, 0.1) 8px 8px, rgba(69, 143, 246, 0.05) 10px 10px; }

.aboutSection {
  display: flex;
  flex-direction: column;
  gap: 230px; }
  .aboutSection_wrapper {
    display: flex;
    align-items: end;
    gap: 100px; }
    .aboutSection_wrapper-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 56px;
      color: #000000;
      margin-bottom: 26px; }
    .aboutSection_wrapper-content {
      font-weight: 300;
      font-size: 18px;
      line-height: 30px;
      color: #7d7987;
      margin: 31px 0 40px 0; }
      .aboutSection_wrapper-contentSide {
        max-width: 450px; }

.costumerSection {
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 120px 90px;
  margin-top: 266px; }
  .costumerSection_header {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 25px; }
  .costumerSection_contentWrapper {
    margin-top: 90px;
    display: flex;
    width: 100%;
    justify-content: space-around; }
    .costumerSection_contentWrapper-imgBox {
      display: flex;
      align-items: center;
      gap: 30px; }
      .costumerSection_contentWrapper-imgBox .costumerImg {
        border-radius: 50%;
        border: 4px solid #ffffff; }
      .costumerSection_contentWrapper-imgBox .costumerInfo {
        line-height: 48px;
        color: #ffffff; }
        .costumerSection_contentWrapper-imgBox .costumerInfo-name {
          font-weight: 700;
          font-size: 22px; }
        .costumerSection_contentWrapper-imgBox .costumerInfo-job {
          font-weight: 400;
          font-size: 18px;
          opacity: 0.85; }
    .costumerSection_contentWrapper-content {
      opacity: 0.9;
      max-width: 420px;
      font-weight: 400;
      font-size: 19px;
      line-height: 30px; }

@media screen and (max-width: 1350px) {
  .wrapper {
    margin: 0 50px 3px; }
  .imges {
    width: 600px; } }

@media screen and (max-width: 1200px) {
  .imges {
    width: 500px; }
  .homePage_mainBox-title {
    font-size: 40px; }
  .homePage_mainBox-content {
    font-size: 16px; }
  .homePage_mainBox {
    max-width: 360px; }
  .cardWrapper {
    grid-template-columns: repeat(2, 340px);
    grid-template-rows: 355px 355px; }
  .aboutSection_wrapper {
    justify-content: space-between; }
  .aboutSection_wrapper-title {
    font-size: 28px; }
  .aboutSection_wrapper-contentSide {
    max-width: 340px; }
  .costumerSection {
    padding: 64px 0; }
  .costumerSection_contentWrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 60px; }
  .costumerSection_contentWrapper-imgBox {
    margin-bottom: 20px; }
  .costumerSection_contentWrapper-content {
    max-width: 530px;
    text-align: center; }
  .costumerImg {
    width: 150px !important;
    height: 150px !important; } }

@media screen and (max-width: 1000px) {
  .homePage_main {
    margin-top: 60px; }
  .imges {
    display: none; }
  .homePage_main {
    justify-content: center; }
  .homePage_mainBox {
    text-align: center;
    max-width: 605px; }
  .homePage_mainBox-title {
    font-size: 70px;
    line-height: 75px; }
  .homePage_mainBox-content {
    font-size: 27px; }
  .homePage_mainBottom {
    margin-top: 120px; }
  .aboutSection_wrapper-contentSide {
    max-width: 600px; }
  .aboutSection {
    text-align: center;
    align-items: center;
    gap: 100px; }
  .aboutSection_wrapper-title {
    font-size: 40px; }
  .aboutSection_wrapper-content {
    font-size: 22px; }
  .line {
    margin: auto; }
  .costumerSection {
    margin-top: 120px; } }

@media screen and (max-width: 800px) {
  .homePage_mainBox {
    max-width: 455px; }
  .top-nav {
    margin-top: 10px;
    padding: 0; }
  .homePage_mainBox-title {
    font-size: 38px;
    margin-bottom: 12px; }
  .homePage_mainBox-content {
    font-size: 20px; }
  .homePage_mainBox-button {
    font-size: 16px; }
  .homePage_mainBottom {
    margin-top: 60px; }
  .homePage_mainBottom-title {
    font-size: 30px; }
  .homePage_mainBottom-content {
    font-size: 15px; }
  .card {
    text-align: center; }
  .cardWrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 355px 355px 355px; }
  .cardWrapper_buttom {
    margin: 36px auto; }
  .aboutSection_wrapper-title {
    font-size: 35px; }
  .aboutSection_wrapper-content {
    font-size: 18px; }
  .costumerSection_header {
    font-size: 30px; }
  .costumerSection_contentWrapper {
    margin-top: 30px; }
  .costumerImg {
    width: 100px !important;
    height: 100px !important; }
  .costumerInfo {
    line-height: 30px !important; }
  .costumerInfo-name {
    font-size: 20px; }
  .costumerInfo-job {
    font-size: 16px; }
  .costumerSection_contentWrapper {
    font-size: 16px !important; }
  .cardWrapper-backgroundImg {
    display: none; }
  .costumerSection {
    padding: 15px;
    margin-top: 50px; }
  .costumerSection_header {
    font-size: 18px;
    margin-bottom: 5px; }
  .costumerSection_contentWrapper {
    margin-top: 15px; }
  .costumerImg {
    width: 70px !important;
    height: 70px !important; }
  .costumerInfo {
    line-height: 25px !important; }
  .costumerInfo-name {
    font-size: 18px; }
  .costumerInfo-job {
    font-size: 14px; }
  .costumerSection_contentWrapper-imgBox {
    gap: 15px; }
  .costumerSection_contentWrapper {
    font-size: 16px !important; }
  .costumerSection_contentWrapper-content {
    font-size: 13px; } }

@media (max-width: 1000px) {
  .menu-button-container {
    display: flex; }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 100px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center; }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1); }
  #menu-toggle:checked ~ .menu li {
    height: 5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1); }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    background: #458ff6;
    background: linear-gradient(90deg, #458ff6 24%, #6dc4f2 84%, #6fc4f4 100%); }
  .header_nav-list {
    color: white;
    opacity: 1; }
    .header_nav-list:hover {
      color: black; }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444; } }

@media screen and (max-width: 425px) {
  .wrapper {
    margin: 0 15px 3px; }
  .homePage_main {
    margin-top: 30px; }
  .homePage_mainBox {
    max-width: 100%; }
  .homePage_mainBox-title {
    font-size: 40px;
    margin-bottom: 12px;
    line-height: 50px; }
  .homePage_mainBox-content {
    font-size: 16px;
    margin: 0 0 30px; }
  .homePage_mainBox-button {
    font-size: 14px;
    line-height: 50px; }
  .homePage_mainBottom {
    margin-top: 45px;
    gap: 15px; }
  .homePage_mainBottom-title {
    font-size: 25px; }
  .homePage_mainBottom-content {
    font-size: 13px; }
  .cardWrapper {
    margin-top: 45px; }
  .aboutSection {
    gap: 70px; }
  .aboutSection_wrapper-title {
    font-size: 25px; }
  .aboutSection_wrapper-content {
    font-size: 14px;
    margin: 25px 0 35px; } }
