.aboutSection {
  display: flex;
  flex-direction: column;
  gap: 230px;
  &_wrapper {
    display: flex;
    align-items: end;
    gap: 100px;

    &-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 56px;
      color: $color-black;
      margin-bottom: 26px;
    }
    &-content {
      font-weight: 300;
      font-size: 18px;
      line-height: 30px;
      color: $color-lightGrey;
      margin: 31px 0 40px 0;

      &Side {
        max-width: 450px;
      }
    }
  }
}
