.header {
  display: flex;
  justify-content: space-between;
  margin: 56px 0 0;
  &_nav-list {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: $color-darkPurple;
    opacity: 0.5;

    &:hover {
      color: $color-lightBlue;
      transition-duration: 0.5s;
    }
  }
}
.brand {
  display: flex;
  align-items: center;

  &-logo {
    padding: 5px 14px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    color: $color-white;
    background-color: $color-lightBlue;
    margin-right: 12px;
  }
  &-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $color-darkBlue;
  }
}

//
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 50px;
  padding: 1em;
  margin: 56px 0 0;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  align-items: center;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: black;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
